<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="DatabaseModelConf" connectionString="data source=31.147.206.65;initial catalog=RPP2324_T04_DB;user id=RPP2324_T04_User;password=K}MPfh}E;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>